@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  div.menuu {
    width: 100vh;
    height: 100vh;
    background: rgb(34, 34, 110);
    position: absolute;
    left: -120%;
    z-index: 2;
    top: 0;
    position: fixed;
  }
  #menu,#close{
    display: none;
  }
  #menu:checked ~ div.menuu{
    left: 0;
  }
  #close:checked ~ div.menuu{
    left: -120%;
  }
  #menu:checked ~ label[for=menu]{
    display: none;
  }
}
@layer components {
  .nav {
    @apply w-[inherit] h-[92px] flex flex-row flex-nowrap justify-between leading-[92px] box-border;
  }
  .header {
    @apply pt-[10px] w-full bg-tintblue px-[160px] box-border;
  }
  .header2 {
    @apply pt-[10px] w-full bg-tintblue px-[50px] box-border;
  }
  .ul {
    @apply list-none  flex flex-nowrap gap-[32px];
  }
  .ul2 {
    @apply list-none  flex flex-nowrap gap-[20px];
  }
  .contactus {
    @apply px-[48px] border-2 border-white rounded-[41px] py-[16px] box-border;
  }
  .contactus2 {
    @apply px-[18px] border-2 border-white rounded-[41px] py-[10px] box-border;
  }
  .tex {
    @apply w-[inherit] py-[128px] box-border flex flex-row flex-nowrap gap-[60px];
  }
  .tex2 {
    @apply w-[inherit] py-[50px] box-border flex flex-row flex-wrap-reverse gap-[10px] justify-center;
  }
  .texx {
    @apply w-1/2 flex flex-col gap-[24px] text-left;
  }
  .texx2 {
    @apply w-full flex flex-col gap-[24px] text-center;
  }
  .texaks {
    @apply w-1/2 ps-[50px] box-border block;
  }
  .texaks2 {
    @apply w-full block text-center;
  }
  .work {
    @apply w-full bg-[#F4F6FC] py-[128px] box-border flex flex-row flex-nowrap gap-[220px];
  }
  .work2 {
    @apply w-full bg-[#F4F6FC] py-[128px] box-border flex flex-row flex-wrap;
  }
  .disign {
    @apply w-1/3 bg-white flex flex-col justify-center pt-[58px] pb-[48px] ps-[48px] box-border;
  }
  .disign2 {
    @apply w-1/2 bg-white flex flex-col justify-center pt-[58px] pb-[48px] ps-[48px] box-border;
  }
  .us {
    @apply flex flex-col box-border lg:pl-[158px] lg:pr-[162px] md:px-[100px] lg:px-[0px] px-[50px] md:py-[128px] py-[50px] w-full;
  }
}
